* {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

body {
  background-color: #ddd;
  font-size: 18px;
  font-family: "Oswald" Arial, Helvetica, sans-serif;
  margin: 50px;
}

.container {
  display: grid;
  gap: 10px;
}

/* Header */

.header {
  display: grid;
  grid-template-areas:
    "hero hero feature-1"
    "hero hero feature-2";
}

.hero {
  grid-area: hero;
  min-height: 400px;
  background-image: url(img/m1.jpg);
  background-size: cover;
  background-position: center;
  padding: 30px;
}

.hero h2,
.hero p {
  display: none;
}

.features {
  background-color: #000;
  color: #fff;
  display: grid;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  text-align: center;
}

.feature-1 {
  grid-area: feature-1;
  background-image: url(img/m2.jpg);
  background-size: cover;
  background-position: center;
}

.feature-2 {
  grid-area: feature-2;
  background-image: url(img/m3.jpg);
  background-size: cover;
  background-position: center;
}

.features .price {
  font-size: 2em;
  font-weight: 500;
}

/* Navigation */
.menu {
  order: -1;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.menu .brand {
  font-size: 1.3em;
  color: #333;
}

.menu ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 5px;
}

.menu a {
  display: block;
  background-color: rgb(19, 18, 19);
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  text-transform: uppercase;
  font-size: 0.9em;
}

.menu a:hover {
  color: #fff; /* Warna teks */
  font-size: 1em; /* Ukuran font */
  text-shadow: 0 0 5px #fff, /* Cahaya putih */ 0 0 10px #ff00ff,
    /* Cahaya pink */ 0 0 15px #ff00ff, /* Cahaya pink */ 0 0 20px #ff00ff; /* Cahaya pink */
}

/* Hamburger Menu */

.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
  z-index: 5;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  opacity: 0;
  top: -3px;
  left: -6px;
  cursor: pointer;
  z-index: 3;
  background-color: #000;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background: #000;
  border-radius: 3px;
  transition: all 0.5s;
}

/* Hamburger menu Animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
  background-color: rgb(255, 255, 255);
}
.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(0, 0);
  background-color: rgb(255, 255, 255);
}
.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
  opacity: 0;
}

/* Services */

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  margin-top: 30px;
}

.services .service {
  border: #b6b3b3 solid 1px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.service {
  background-color: white;
  padding: 10px;
  text-align: center;
}

.service .icon {
  font-size: 3em;
}

.service h3 {
  font-size: 1.5em;
}

.service p {
  font-weight: 200;
  opacity: 0.9;
}

/* Gallery */

.gallery {
  display: grid;
  gap: 5px;
  margin-top: 50px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.gallery h2 {
  grid-column-start: 1;
  grid-column-end: -1;
  text-align: center;
  margin-bottom: 20px;
}

/* Responsive breakpoint */

@media (max-width: 1024px) {
  .menu {
    order: inherit;
    grid-template-columns: 1fr;
  }

  .menu .brand {
    display: none;
  }

  .hero h2,
  .hero p {
    display: block;
    background-color: rgba(0, 0, 0, 0.842);
    color: white;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
  }

  .hero {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
  }

  .services {
    margin-top: 15px;
  }
}

@media (max-width: 768px) {
  .menu {
    order: -1;
    justify-items: end;
  }

  .menu-toggle {
    display: flex;
  }

  .menu ul {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: rgb(19, 18, 19);
    z-index: 1;
    width: 100%;
    transform: translateY(-100%);
    transition: all 1s;
    opacity: 0;
  }

  .menu ul.slide {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 600px) {
  body {
    margin: 20px;
  }
  .header {
    grid-template-areas:
      "hero"
      "feature-1"
      "feature-2";
  }
}
